<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='policy_page.css') }}">
  <title>Insurance Portal</title>
  <meta name="description" content="View all your insurance information from one easy page!">
  <meta name="author" content="Sean Porter">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    <div class="pagewrapper">
        <h1>Information for policy {{ passed_data['policy_id'] }} on {{ passed_data['date_cursor'] }}:</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <ul>
            <li><label>Policy ID:</label>{{ passed_data['policy_id'] }}</li>
            <li><label>Policy Name:</label>{{ passed_data['policy_name'] }}</li>
            <li><label>Named Insured:</label>{{ passed_data['named_insured'] }}</li>
            <li><label>Account Balance:</label>${{ passed_data['balance'] }}</li>
            <li><label>Effective Date:</label>{{ passed_data['effective_date'] }}</li>
            <li><label>Billing Schedule:</label>{{ passed_data['billing'] }}</li>
            <li><label>Annual Premium:</label>${{ passed_data['annual_premium'] }}</li>
            <li><label>Current Status:</label>{{ passed_data['status'] }}</li>
            
            {% if passed_data['canceled_date'] %}
            <li><label>Canceled date:</label>{{ passed_data['canceled_date'] }}</li>
            <li><label>Cancellation reason:</label>{{ passed_data['cancel_reason'] }}</li>
            {% endif %}
            
            <li><label>Agent:</label>{{ passed_data['agent_name'] }}</li>
        </ul>
        <h2>Current Invoices</h2>
            <table>
                <tr>
                    <th>Bill Date</th>
                    <th>Due Date</th>
                    <th>Cancel Date</th>
                    <th>Amount Due</th>
                </tr>
                {% for invoice in passed_data['current_invoices'] %}
                <tr>
                    <td>{{ invoice.bill_date }}</td>
                    <td>{{ invoice.due_date }}</td>
                    <td>{{ invoice.cancel_date }}</td>
                    <td>${{ invoice.amount_text }}</td>
                </tr>
                {% endfor %}
            </table>
        <h2>Payments</h2>
        {% if not passed_data['payments'] %}
        <p>No payments have been made on this account.</p>
        {% else %}
            <table>
                <tr>
                    <th>Contact</th>
                    <th>Amount Paid</th>
                    <th>Payment Date</th>
                </tr>
                {% for payment in passed_data['payments'] %}
                <tr>
                    <td>{{ payment.contact_name }}</td>
                    <td>${{ payment.amount_text }}</td>
                    <td>{{ payment.transaction_date }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if passed_data['deleted_invoices'] %}
        <h2>Previous Invoices</h2>
            <p>These invoices are from previous billing cycles and do not represent the
            current amounts. This shows only the invoices up to the date you specified.</p>
            <table>
                <tr>
                    <th>Bill Date</th>
                    <th>Due Date</th>
                    <th>Cancel Date</th>
                    <th>Amount Due</th>
                </tr>
                {% for invoice in passed_data['deleted_invoices'] %}
                <tr>
                    <td>{{ invoice.bill_date }}</td>
                    <td>{{ invoice.due_date }}</td>
                    <td>{{ invoice.cancel_date }}</td>
                    <td>${{ invoice.amount_text }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        <p>Account Maintenance</p>
        <form method="post" action="{{ url_for('maintenance') }}">
            <input type="textbox" name="id" value="{{ passed_data['policy_id'] }}" hidden>
            <input type="textbox" name="date" value="{{ passed_data['date'] }}" hidden>
            <input value="Submit" type="submit"></input>
        </form>
    </div>
</body>
</html>